header {
    width: 90%;
    
    margin: 0 auto;
    padding: 15px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

header h1 {
    font-size: 25px;
}
 
main {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
  }

main section {
    list-style: none;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  main section a {
    width: 100%;
    height: 100px;
 background: #c9c9c9;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 17px;
    color: white;

    transition: filter 0.2s ease-in-out;
  }

  main section a:hover {
      filter: brightness(0.8)
  }

  main section a.instagram {
    background-image: linear-gradient(to bottom right, #eb0c79, #f6a415);
  }
  main section a.linkedin {
    background-image: linear-gradient(to bottom right, #0c14eb, #15bcf6);
  }
  main section a.github {
    background-image: linear-gradient(to bottom right, #048f95, #19b695);
  }

  footer {
    width: 100%;
    max-width: 500px;
    margin: 40px auto 20px;
    padding: 0 1.5rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer p {
    display: flex;
    align-items: center;
    gap: 8px;
  
    font-size: 17px;
    font-weight: bold;
  }
  
  footer a {
    font-size: 18px;
    background-image: linear-gradient(to right, #eb0c79, #f6a415);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  


